$fontSize: 46.875; // 750px 宽度
$primary_color: #f03468;
// 计算宽度
@function rem($n) {
    @return ($n / $fontSize) * 1rem;
}

html {
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    background: #eee;
    width: 100%;
    height: 100vh;
    .preload-tips {
        display: -webkit-box;
        -webkit-box-align: center;
        -webkit-box-pack: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, .9);
        font-size: rem(28);
        color: #fff;
        p {
            font-size: rem(50);
            color: #fff;
            overflow: hidden;
            img {
                width: rem(293);
                height: rem(107);
                display: block;
                margin: 0 auto rem(20);
                animation: fly 2s linear 0s infinite forwards;
            }
            @keyframes fly {
                0% {
                    transform: translate(rem(-200));
                }
                100% {
                    transform: translate(rem(250));
                }
            }
        }
    }
    .container {
        margin: 0 auto;
        width: rem(750);
        height: 100vh;
        overflow: hidden;
        .voice {
            position: absolute;
            right: rem(10);
            top: rem(150);
            z-index: 7;
            img {
                display: block;
                width: rem(90);
            }
        }
        .status {
            width: 100%;
            height: 100vh;
            overflow: hidden;
            &#status1 {
                background: url('https://img04.aomygod.com/fontend/20171027/imgs/status1/bg.png') no-repeat;
                background-size: 100% 100%;
                position: relative;
                .title {
                    width: rem(634);
                    height: rem(305);
                    display: block;
                    background: url('https://img04.aomygod.com/fontend/20171027/imgs/status1/title.png') center center no-repeat;
                    background-size: 100%;
                    position: absolute;
                    left: 50%;
                    margin-left: rem(-317);
                    animation: titleLoad 1.5s ease forwards;
                    z-index: 10;
                }
                .could {
                    width: rem(725);
                    height: rem(337);
                    margin: 0 auto;
                    display: block;
                    background: url('https://img04.aomygod.com/fontend/20171027/imgs/new.png') center center no-repeat;
                    background-size: 100%;
                    position: relative;
                    top: rem(60);
                    z-index: 6;
                    animation: cloudShake 1s ease-in-out infinite alternate-reverse;
                }
                .cartoon {
                    display: flex;
                    width: 100%;
                    position: absolute;
                    bottom: 27%;
                    left: 0;
                    z-index: 20;
                    .boy {
                        flex: 1 50%;
                        height: rem(585);
                        left: rem(-370);
                        position: relative;
                        background: url('https://img04.aomygod.com/fontend/20171027/imgs/status1/boy.png') center right no-repeat;
                        background-size: 80%;
                        animation: formLeft 1s ease-in-out forwards;
                    }
                    .girl {
                        flex: 1 50%;
                        height: rem(585);
                        background: url('https://img04.aomygod.com/fontend/20171027/imgs/status1/girl.png') center left no-repeat;
                        background-size: 80%;
                        position: relative;
                        left: rem(-15);
                        animation: formRight 1s ease-in-out forwards;
                    }
                }
                .coupon {
                    width: 100%;
                    position: absolute;
                    bottom: 12%;
                    left: 0;
                    z-index: 30;
                    animation: formTop 1s ease-in forwards;
                    img {
                        display: block;
                        width: 70%;
                        margin: 0 auto;
                    }
                }
                .btn-light {
                    display: flex;
                    width: 100%;
                    height: rem(200);
                    position: absolute;
                    bottom: -1%;
                    left: 0;
                    z-index: 50;
                    div {
                        flex: 1;
                        width: 50%;
                        .btn-boy {
                            display: block;
                            width: 100%;
                            height: rem(200);
                            float: right;
                            animation: btnScale .8s linear infinite alternate-reverse;
                        }
                        .btn-girl {
                            display: block;
                            width:  100%;
                            height: rem(200);
                            float: left;
                            animation: btnScale .8s linear infinite alternate-reverse;
                        }
                    }
                }
                .arrow {
                    display: block;
                    width: rem(80);
                    position: absolute;
                    bottom: -1%;
                    animation: arrowTransform 2s ease infinite alternate-reverse;
                }
                @keyframes arrowTransform {
                    0% {
                        opacity: 0;
                        left: rem(135);
                    }
                    50% {
                        opacity: 1;
                        left: rem(135);
                    }
                    75% {
                        opacity: 0;
                        left: rem(545);
                    }
                    100% {
                        opacity: 1;
                        left: rem(545);
                    }
                }
                @keyframes btnScale {
                    0% {
                        transform: scale(1.05);
                    }
                    100% {
                        transform: scale(1);
                    }
                }
                @keyframes formTop {
                    0% {
                        bottom: 16%;
                        opacity: 0;
                    }
                    50% {
                        bottom: 12%;
                        opacity: 1;
                    }
                    75% {
                        bottom: 13%;
                    }
                    100% {
                        bottom: 12%;
                        opacity: 1;
                    }
                }
                @keyframes formLeft {
                    0% {
                        left: rem(-370);
                    }
                    100% {
                        left: 0;
                    }
                }
                @keyframes formRight {
                    0% {
                        left: rem(370);
                    }
                    100% {
                        left: rem(-15);
                    }
                }
                @keyframes titleLoad {
                    0% {
                        opacity: 0;
                    }
                    50% {
                        transform: rotate(180deg);
                        top: rem(15);
                        opacity: 1;
                    }
                    75% {
                        transform: rotate(360deg);
                    }
                    100% {
                        transform: rotate(360deg);
                        top: rem(15);
                        opacity: 1;
                    }
                }
                @keyframes cloudShake {
                    0% {
                        left: rem(5);
                    }
                    100% {
                        left: rem(-5);
                    }
                }
                p {
                    margin: 0;
                    padding: 0;
                }
            }
            &#status2 {
                div {
                    width: 100%;
                    height: 100vh;
                    background: #eee;
                    &.for-boy {
                        .status2-foot {
                            position: relative;
                            top: rem(-357);
                        }
                    }
                    img {
                        width: 100%;
                        display: block;
                        opacity: 0;
                        &:nth-child(2) {
                            position: relative;
                            top: rem(-178);
                        }
                        &:nth-child(3) {
                            position: relative;
                            top: rem(-366);
                        }
                        &.status2-head {
                            animation: head .8s ease 0s forwards;
                            position: relative;
                        }
                        &.status2-body {
                            animation: body .8s ease 0.8s forwards;
                            position: relative;
                        }
                        &.status2-foot {
                            animation: head .8s ease 1.6s forwards;
                            position: relative;
                        }
                        &.status2-ready {
                            width: 80%;
                            margin: 0 auto;
                            animation: head .8s ease 2.4s forwards;
                            position: relative;
                            top: rem(-1200);
                        }
                        @keyframes head {
                            0% {
                                left: rem(-750);
                            }
                            50% {
                                left: rem(50);
                                transform: skew(-15deg);
                            }
                            75% {
                                opacity: .5;
                            }
                            100% {
                                transform: skew(0);
                                left: 0;
                                opacity: 1;
                            }
                        }
                        @keyframes body {
                            0% {
                                right: rem(-750);
                            }
                            50% {
                                right: rem(50);
                                transform: skew(15deg);
                            }
                            75% {
                                opacity: .5;
                            }
                            100% {
                                transform: skew(0);
                                right: 0;
                                opacity: 1;
                            }
                        }
                    }
                }
            }
            &#status3 {
                position: relative;
                .background {
                    img {
                        display: block;
                        width: 100%;
                        height: 100vh;
                    }
                }
                .time-box {
                    position: absolute;
                    top: 2%;
                    left: 5%;
                    width: 27.6%;
                    z-index: 10;
                    .time {
                        width: 100%;
                    }
                    .time-count {
                        position: absolute;
                        bottom: rem(20);
                        left: rem(27);
                        p {
                            float: left;
                            width: rem(40);
                            height: rem(70);
                            margin: 0;
                            padding: 0;
                            &:nth-child(1) {
                                margin-right: rem(71);
                            }
                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
                .score {
                    position: absolute;
                    top: 18%;
                    left: 3%;
                    z-index: 10;
                    img:nth-child(1) {
                        width: rem(131);
                        height: rem(512);
                    }
                    img:nth-child(2) {
                        width: rem(25);
                        height: rem(122);
                        position: absolute;
                        top: 46%;
                        left: 36%;
                        z-index: 20;
                    }
                    .score-num {
                        background: transparent;
                        width: rem(30);
                        height: rem(410);
                        border-bottom-right-radius: rem(15);
                        border-bottom-left-radius: rem(15);
                        position: absolute;
                        top: 17.4%;
                        left: 39%;
                        overflow: hidden;
                        img {
                            display: block;
                            position: relative;
                            left: rem(-44);
                            bottom: rem(-410);
                            border-bottom-right-radius: rem(15);
                            border-bottom-left-radius: rem(15);
                        }
                    }
                }
                .cloud {
                    position: absolute;
                    bottom: rem(100);
                    width: 100%;
                    img {
                        width: 100%;
                        display: block;
                        animation: cloudCircle .5s linear 0s infinite alternate-reverse forwards;
                    }
                    @keyframes cloudCircle {
                        0% {
                            opacity: .7;
                            transform: rotate(0deg);
                        }
                        100% {
                            opacity: 1;
                            transform: rotate(5deg);
                        }
                    }
                }
                .person {
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    img {
                        &:nth-child(1) {
                            display: block;
                            width: rem(550);
                            position: absolute;
                            top: 12%;
                            left: 15%;
                        }
                        &.mask {
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            z-index: 1;
                            display: none;
                        }
                    }
                    &.girl {
                        img[name=person] {
                            display: block;
                            width: rem(650);
                            position: absolute;
                            top: 16%;
                            left: 10%;
                            z-index: 5;
                        }
                        img[name=shadow1] {
                            position: absolute;
                            top: 15%;
                            left: 10%;
                            width: rem(650);
                            display: block;
                            z-index: 2;
                            animation: changeScale .5s ease-in 0s infinite forwards;
                            display: none;
                        }
                        @keyframes changeScale {
                            0% {}
                            50% {
                                transform: scale(1.1);
                            }
                            100% {
                                transform: scale(1.2);
                            }
                        }
                    }
                }
                .btn-box {
                    position: fixed;
                    left: 0;
                    bottom: rem(-30);
                    width: 100%;
                    height: rem(333);
                    z-index: 99;
                    .table {
                        display: block;
                        width: rem(750);
                        height: 100%;
                        margin: 0 auto;
                        z-index: 0;
                    }
                    .btns {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        bottom: 0;
                        left: 0;
                        z-index: 100;
                        &:focus {
                            border: 0;
                            background: transparent;
                        }
                        .arrow-begin {
                            position: absolute;
                            top: -20%;
                            left: 50%;
                            margin-left: rem(-65);
                            width: rem(130);
                            display: block;
                            animation: btnAnimation .7s linear 0s infinite alternate-reverse forwards;
                        }
                        @keyframes btnAnimation {
                            0% {
                                opacity: 0;
                            }
                            100% {
                                opacity: 1;
                            }
                        }
                        .btn {
                            display: block;
                            width: rem(346);
                            height: rem(254);
                            background: url("https://img04.aomygod.com/fontend/20171027/imgs/status3/btn-on.png") no-repeat;
                            background-size: 100% 100%;
                            margin: rem(20) auto 0;
                            &.btn-off {
                                background: url("https://img04.aomygod.com/fontend/20171027/imgs/status3/btn-off.png") no-repeat;
                                background-size: 100% 100%;
                            }
                        }
                    }
                }
            }
            &#status4 {
                position: absolute;
                top: 0;
                left: 0;
                .background {
                    img {
                        width: 100vw;
                        height: 100vh;
                        display: block;
                    }
                }
                .score {
                    position: absolute;
                    top: rem(100);
                    left: 0;
                    width: 100%;
                    p {
                        text-align: center;
                        margin: 0 auto;
                        width: rem(459);
                        height: rem(76);
                        background: url("https://img04.aomygod.com/fontend/20171027/imgs/status4/1.png") no-repeat;
                        background-size: 100% 100%;
                        color: #fff;
                        font-weight: bold;
                        line-height: rem(76);
                        font-size: rem(40);
                        span {
                            font-size: rem(50);
                            color: #fff47d;
                        }
                    }
                }
                .word {
                    position: absolute;
                    top: 17%;
                    right: 3%;
                    width: rem(305);
                    height: rem(284);
                    background: url('https://img04.aomygod.com/fontend/20171027/imgs/status4/2.png') no-repeat;
                    background-size: 100% 100%;
                    padding: rem(25) rem(10) rem(20) rem(40);
                    box-sizing: border-box;
                    color: #3d3d3d;
                    font: bold rem(30) "微软雅黑";
                }
                .scream {
                    width: rem(550);
                    height: rem(110);
                    position: absolute;
                    top: 52.5%;
                    left: 50%;
                    margin-left: rem(-273);
                    background: transparent;
                    display: flex;
                    p {
                        flex: 1;
                        -webkit-flex: 1;
                        float: left;
                        width: 20%;
                        height: 100%;
                        margin: 0;
                        padding: rem(20) 0;
                        box-sizing: border-box;
                        overflow: hidden;
                        img {
                            margin: 0 auto;
                            width: rem(40);
                            height: 100%;
                            display: block;
                        }
                    }
                }
                .btns {
                    width: 100%;
                    height: rem(128);
                    position: absolute;
                    bottom: 27%;
                    left: 50%;
                    margin-left: rem(-367);
                    img {
                        display: block;
                        width: rem(635);
                        margin: 0 auto;
                    }
                    a {
                        float: left;
                        width: 40%;
                        height: rem(128);
                        display: block;
                        background: transparent;
                        margin: 0 5%;
                        position: relative;
                        top: rem(-128);
                    }
                }
                .coupon {
                    width: 100%;
                    // height: rem(251);
                    position: absolute;
                    bottom: rem(5);
                    left: 0;
                    img {
                        width: rem(404);
                        height: rem(251);
                        margin: 0 auto;
                        display: block;
                        position: relative;
                        left: rem(-10);
                    }
                }
            }
        }
        .share-mask {
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            background: rgba(0, 0, 0, 0.7);
            z-index: 100;
            display: none;
            img {
                position: absolute;
                top: rem(20);
                right: rem(20);
                width: rem(320);
                height: rem(228);
                display: block;
            }
        }
        .outside-mask {
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            background: rgba(0, 0, 0, 0.7);
            display: none;
            z-index: 10;
            .login {
                width: rem(474);
                height: rem(636);
                background: url("https://img04.aomygod.com/fontend/20171027/imgs/status4/3.png") no-repeat;
                background-size: 100% 100%;
                position: absolute;
                top: 20%;
                left: 50%;
                margin-left: rem(-237);
                .close {
                    display: block;
                    width: rem(66);
                    height: rem(66);
                    background: url('https://img04.aomygod.com/fontend/20171027/imgs/status4/cancel.png') no-repeat;
                    background-size: 100% 100%;
                    position: absolute;
                    top: rem(45);
                    right: rem(-40);
                }
                .box {
                    text-align: center;
                    width: rem(420);
                    height: rem(440);
                    margin: rem(170) auto 0;
                    box-sizing: border-box;
                    h3 {
                        margin: 0 0 rem(30) 0;
                        font-size: rem(38);
                        color: #484848;
                    }
                    p {
                        width: rem(400);
                        margin: 0 auto;
                        border: rem(1) solid #ddd;
                        padding: rem(5);
                        border-radius: rem(10);
                        margin-bottom: rem(30);
                        overflow: hidden;
                        background: #fff;
                        box-sizing: border-box;
                        input {
                            border: 0;
                            text-indent: rem(5);
                            float: left;
                            width: rem(210);
                            height: rem(50);
                            font-size: rem(24);
                            box-sizing: border-box;
                        }
                        input::-webkit-input-placeholder {
                            /* WebKit browsers*/
                            color: #999;
                        }
                        input:-moz-placeholder {
                            /* Mozilla Firefox 4 to 18*/
                            color: #999;
                        }
                        input::-moz-placeholder {
                            /* Mozilla Firefox 19+*/
                            color: #999;
                        }
                        input:-ms-input-placeholder {
                            /* Internet Explorer 10+*/
                            color: #999;
                        }
                        .get-code {
                            display: block;
                            float: right;
                            color: #fff;
                            background: #a40000;
                            width: rem(150);
                            height: rem(50);
                            line-height: rem(50);
                            text-decoration: none;
                            border-radius: rem(10);
                            font-size: rem(24);
                        }
                    }
                    .get-coupon {
                        display: inline-block;
                        color: #fff;
                        background: #a40000;
                        text-decoration: none;
                        padding: rem(10) rem(50);
                        border-radius: rem(10);
                        margin-top: rem(30);
                        font-size: rem(30);
                    }
                }
            }
        }
    }
}