$fontSize: 46.875; // 750px 宽度
$primary_color: #f03468;

// 计算宽度
@function rem($n) {
    @return ($n / $fontSize) * 1rem;
}

body {
    margin: 0;
    padding: 0;
    background: #eee;
    width: 100%;
    height: 100vh;
    .btn {
        width: rem(346);
        height: rem(254);
        background: url(../img/status3/btn-on.png) no-repeat;
        background-size: rem(346) rem(254);
        margin: rem(100) auto;
        &.off {
            height: rem(254);
            background: url(../img/status3/btn-off.png) no-repeat;
            background-size: rem(346) rem(254);
        }
    }
}
