@import "../js/Swiper/swiper.min.css";
$fontSize: 46.875; // 750px 宽度
$primary_color: #f03468;
// 计算宽度
@function rem($n) {
    @return ($n / $fontSize) * 1rem;
}

body {
    margin: 0;
    padding: 0;
    background: #eee;
    width: 100%;
    height: 100vh;
    .preload-tips {
        display: -webkit-box;
        -webkit-box-align: center;
        -webkit-box-pack: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.7);
        font-size: rem(28);
        color: #fff;
        p {
            font-size: rem(50);
            color: #fff; 
            img {
                width: rem(293);
                height: rem(107);
                display: block;
                margin: 0 auto rem(20);
            }
        }
    }
    .container {
        margin: 0 auto;
        width: rem(750);
        height: 100vh;
        overflow: hidden;
        .status {
            width: 100%;
            height: 100vh;
            &#status1 {
                background: url('https://img04.aomygod.com/fontend/20171023/imgs/status1/bg.png') no-repeat;
                background-size: 100% 100%;
                position: relative;
                .title {
                    width: rem(634);
                    height: rem(305);
                    display: block;
                    background: url('https://img04.aomygod.com/fontend/20171023/imgs/status1/title.png') center center no-repeat;
                    background-size: 100%;
                    position: absolute;
                    left: 50%;
                    margin-left: rem(-317);
                    animation: titleLoad 1.5s ease forwards;
                    z-index: 10;
                }
                .could {
                    width: rem(736);
                    height: rem(318);
                    margin: 0 auto;
                    display: block;
                    background: url('https://img04.aomygod.com/fontend/20171023/imgs/status1/cloud.png') center center no-repeat;
                    background-size: 100%;
                    position: relative;
                    top: rem(60);
                    z-index: 6;
                    animation: cloudShake 1s ease-in-out infinite alternate-reverse;
                }
                .cartoon {
                    display: flex;
                    width: 100%;
                    position: relative;
                    top: rem(-36);
                    z-index: 20;
                    .boy {
                        flex: 1 50%;
                        height: rem(585);
                        left: rem(-370);
                        position: relative;
                        background: url('https://img04.aomygod.com/fontend/20171023/imgs/status1/boy.png') center right no-repeat;
                        background-size: 80%;
                        animation: formLeft 1s ease-in-out forwards;
                    }
                    .girl {
                        flex: 1 50%;
                        height: rem(585);
                        background: url('https://img04.aomygod.com/fontend/20171023/imgs/status1/girl.png') center left no-repeat;
                        background-size: 80%;
                        position: relative;
                        left: rem(-15);
                        animation: formRight 1s ease-in-out forwards;
                    }
                }
                .coupon {
                    width: rem(530);
                    height: rem(302);
                    margin: 0 auto;
                    background: url('https://img04.aomygod.com/fontend/20171023/imgs/status1/coupon.png') center center no-repeat;
                    background-size: 100%;
                    position: relative;
                    z-index: 30;
                    animation: formTop 1s ease-in forwards;
                }
                .btn-light {
                    display: flex;
                    width: 100%;
                    position: relative;
                    top: rem(-290);
                    z-index: 50;
                    .btn-boy {
                        flex: 1;
                        display: block;
                        width: rem(376);
                        height: rem(321);
                        background: url('https://img04.aomygod.com/fontend/20171023/imgs/status1/boy-light2.png') center right no-repeat;
                        background-size: 95%;
                        animation: btnScale .8s linear infinite alternate-reverse;
                    }
                    .btn-girl {
                        flex: 1;
                        display: block;
                        width: rem(374);
                        height: rem(321);
                        background: url('https://img04.aomygod.com/fontend/20171023/imgs/status1/girl-light2.png') center left no-repeat;
                        background-size: 95%;
                        animation: btnScale .8s linear infinite alternate-reverse;
                    }
                }
                .arrow {
                    display: block;
                    width: rem(106);
                    height: rem(94);
                    background: url('https://img04.aomygod.com/fontend/20171023/imgs/status1/arrow.png') no-repeat;
                    background-size: 80%;
                    position: relative;
                    top: rem(-360);
                    animation: arrowTransform 2s ease infinite alternate-reverse;
                }
                @keyframes arrowTransform {
                    0% {
                        opacity: 0;
                        left: rem(150);
                    }
                    50% {
                        opacity: 1;
                        left: rem(150);
                    }
                    75% {
                        opacity: 0;
                        left: rem(550);
                    }
                    100% {
                        opacity: 1;
                        left: rem(550);
                    }
                }
                @keyframes btnScale {
                    0% {
                        transform: scale(1.05);
                    }
                    100% {
                        transform: scale(1);
                    }
                }
                @keyframes formTop {
                    0% {
                        top: rem(-400);
                        opacity: 0;
                    }
                    50% {
                        top: rem(-160);
                        opacity: 1;
                    }
                    75% {
                        top: rem(-190);
                        opacity: 1;
                    }
                    100% {
                        top: rem(-160);
                        opacity: 1;
                    }
                }
                @keyframes formLeft {
                    0% {
                        left: rem(-370);
                    }
                    100% {
                        left: 0;
                    }
                }
                @keyframes formRight {
                    0% {
                        left: rem(370);
                    }
                    100% {
                        left: rem(-15);
                    }
                }
                @keyframes titleLoad {
                    0% {
                        opacity: 0;
                    }
                    50% {
                        transform: rotate(180deg);
                        top: rem(15);
                        opacity: 1;
                    }
                    75% {
                        transform: rotate(360deg);
                    }
                    100% {
                        transform: rotate(360deg);
                        top: rem(15);
                        opacity: 1;
                    }
                }
                @keyframes cloudShake {
                    0% {
                        left: rem(5);
                    }
                    100% {
                        left: rem(-5);
                    }
                }
                p {
                    margin: 0;
                    padding: 0;
                }
            }
            &#status2 {
                div {
                    width: 100%;
                    height: 100%;
                    background: #eee;
                    img {
                        width: 100%;
                        display: block;
                        &:nth-child(2) {
                            position: relative;
                            top: rem(-180);
                        }
                        &:nth-child(3) {
                            position: relative;
                            top: rem(-375);
                        }
                    }
                }
            }
        }
    }
    .btn {
        width: rem(346);
        height: rem(254);
        background: url(../img/status3/btn-on.png) no-repeat;
        background-size: rem(346) rem(254);
        margin: rem(100) auto;
        &.off {
            height: rem(254);
            background: url(../img/status3/btn-off.png) no-repeat;
            background-size: rem(346) rem(254);
        }
    }
}