@charset "UTF-8";
/* line 8, ../sass/style.scss */
html {
  overflow: hidden;
}

/* line 12, ../sass/style.scss */
body {
  margin: 0;
  padding: 0;
  background: #eee;
  width: 100%;
  height: 100vh;
}
/* line 18, ../sass/style.scss */
body .preload-tips {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  font-size: 0.59733rem;
  color: #fff;
}
/* line 30, ../sass/style.scss */
body .preload-tips p {
  font-size: 1.06667rem;
  color: #fff;
  overflow: hidden;
}
/* line 34, ../sass/style.scss */
body .preload-tips p img {
  width: 6.25067rem;
  height: 2.28267rem;
  display: block;
  margin: 0 auto 0.42667rem;
  animation: fly 2s linear 0s infinite forwards;
}
@keyframes fly {
  0% {
    transform: translate(-4.26667rem);
  }
  100% {
    transform: translate(5.33333rem);
  }
}
/* line 51, ../sass/style.scss */
body .container {
  margin: 0 auto;
  width: 16rem;
  height: 100vh;
  overflow: hidden;
}
/* line 56, ../sass/style.scss */
body .container .voice {
  position: absolute;
  right: 0.21333rem;
  top: 3.2rem;
  z-index: 7;
}
/* line 61, ../sass/style.scss */
body .container .voice img {
  display: block;
  width: 1.92rem;
}
/* line 66, ../sass/style.scss */
body .container .status {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
/* line 70, ../sass/style.scss */
body .container .status#status1 {
  background: url("https://img04.aomygod.com/fontend/20171027/imgs/status1/bg.png") no-repeat;
  background-size: 100% 100%;
  position: relative;
}
/* line 74, ../sass/style.scss */
body .container .status#status1 .title {
  width: 13.52533rem;
  height: 6.50667rem;
  display: block;
  background: url("https://img04.aomygod.com/fontend/20171027/imgs/status1/title.png") center center no-repeat;
  background-size: 100%;
  position: absolute;
  left: 50%;
  margin-left: -6.76267rem;
  animation: titleLoad 1.5s ease forwards;
  z-index: 10;
}
/* line 86, ../sass/style.scss */
body .container .status#status1 .could {
  width: 15.46667rem;
  height: 7.18933rem;
  margin: 0 auto;
  display: block;
  background: url("https://img04.aomygod.com/fontend/20171027/imgs/new.png") center center no-repeat;
  background-size: 100%;
  position: relative;
  top: 1.28rem;
  z-index: 6;
  animation: cloudShake 1s ease-in-out infinite alternate-reverse;
}
/* line 98, ../sass/style.scss */
body .container .status#status1 .cartoon {
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 35%;
  left: 0;
  z-index: 20;
}
/* line 105, ../sass/style.scss */
body .container .status#status1 .cartoon .boy {
  flex: 1 50%;
  height: 12.48rem;
  left: -7.89333rem;
  position: relative;
  background: url("https://img04.aomygod.com/fontend/20171027/imgs/status1/boy.png") center right no-repeat;
  background-size: 80%;
  animation: formLeft 1s ease-in-out forwards;
}
/* line 114, ../sass/style.scss */
body .container .status#status1 .cartoon .girl {
  flex: 1 50%;
  height: 12.48rem;
  background: url("https://img04.aomygod.com/fontend/20171027/imgs/status1/girl.png") center left no-repeat;
  background-size: 80%;
  position: relative;
  left: -0.32rem;
  animation: formRight 1s ease-in-out forwards;
}
/* line 124, ../sass/style.scss */
body .container .status#status1 .coupon {
  width: 100%;
  position: absolute;
  bottom: 10%;
  left: 0;
  z-index: 30;
  animation: formTop 1s ease-in forwards;
}
/* line 131, ../sass/style.scss */
body .container .status#status1 .coupon img {
  display: block;
  width: 70%;
  margin: 0 auto;
}
/* line 137, ../sass/style.scss */
body .container .status#status1 .btn-light {
  display: flex;
  width: 100%;
  height: 20vh;
  position: absolute;
  bottom: -2%;
  left: 0;
  z-index: 50;
}
/* line 145, ../sass/style.scss */
body .container .status#status1 .btn-light div {
  flex: 1;
  width: 50%;
}
/* line 148, ../sass/style.scss */
body .container .status#status1 .btn-light div .btn-boy {
  display: block;
  width: 90%;
  height: 100%;
  float: right;
  animation: btnScale .8s linear infinite alternate-reverse;
}
/* line 155, ../sass/style.scss */
body .container .status#status1 .btn-light div .btn-girl {
  display: block;
  width: 90%;
  height: 100%;
  float: left;
  animation: btnScale .8s linear infinite alternate-reverse;
}
/* line 164, ../sass/style.scss */
body .container .status#status1 .arrow {
  display: block;
  width: 1.70667rem;
  position: absolute;
  bottom: -1%;
  animation: arrowTransform 2s ease infinite alternate-reverse;
}
@keyframes arrowTransform {
  0% {
    opacity: 0;
    left: 2.88rem;
  }
  50% {
    opacity: 1;
    left: 2.88rem;
  }
  75% {
    opacity: 0;
    left: 11.62667rem;
  }
  100% {
    opacity: 1;
    left: 11.62667rem;
  }
}
@keyframes btnScale {
  0% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes formTop {
  0% {
    bottom: 16%;
    opacity: 0;
  }
  50% {
    bottom: 10%;
    opacity: 1;
  }
  75% {
    bottom: 13%;
  }
  100% {
    bottom: 10%;
    opacity: 1;
  }
}
@keyframes formLeft {
  0% {
    left: -7.89333rem;
  }
  100% {
    left: 0;
  }
}
@keyframes formRight {
  0% {
    left: 7.89333rem;
  }
  100% {
    left: -0.32rem;
  }
}
@keyframes titleLoad {
  0% {
    opacity: 0;
  }
  50% {
    transform: rotate(180deg);
    top: 0.32rem;
    opacity: 1;
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
    top: 0.32rem;
    opacity: 1;
  }
}
@keyframes cloudShake {
  0% {
    left: 0.10667rem;
  }
  100% {
    left: -0.10667rem;
  }
}
/* line 256, ../sass/style.scss */
body .container .status#status1 p {
  margin: 0;
  padding: 0;
}
/* line 262, ../sass/style.scss */
body .container .status#status2 div {
  width: 100%;
  height: 100vh;
  background: #eee;
}
/* line 267, ../sass/style.scss */
body .container .status#status2 div.for-boy .status2-foot {
  position: relative;
  top: -7.616rem;
}
/* line 272, ../sass/style.scss */
body .container .status#status2 div img {
  width: 100%;
  display: block;
  opacity: 0;
}
/* line 276, ../sass/style.scss */
body .container .status#status2 div img:nth-child(2) {
  position: relative;
  top: -3.79733rem;
}
/* line 280, ../sass/style.scss */
body .container .status#status2 div img:nth-child(3) {
  position: relative;
  top: -7.808rem;
}
/* line 284, ../sass/style.scss */
body .container .status#status2 div img.status2-head {
  animation: head .8s ease 0s forwards;
  position: relative;
}
/* line 288, ../sass/style.scss */
body .container .status#status2 div img.status2-body {
  animation: body .8s ease 0.8s forwards;
  position: relative;
}
/* line 292, ../sass/style.scss */
body .container .status#status2 div img.status2-foot {
  animation: head .8s ease 1.6s forwards;
  position: relative;
}
/* line 296, ../sass/style.scss */
body .container .status#status2 div img.status2-ready {
  width: 80%;
  margin: 0 auto;
  animation: head .8s ease 2.4s forwards;
  position: relative;
  top: -25.6rem;
}
@keyframes head {
  0% {
    left: -16rem;
  }
  50% {
    left: 1.06667rem;
    transform: skew(-15deg);
  }
  75% {
    opacity: .5;
  }
  100% {
    transform: skew(0);
    left: 0;
    opacity: 1;
  }
}
@keyframes body {
  0% {
    right: -16rem;
  }
  50% {
    right: 1.06667rem;
    transform: skew(15deg);
  }
  75% {
    opacity: .5;
  }
  100% {
    transform: skew(0);
    right: 0;
    opacity: 1;
  }
}
/* line 340, ../sass/style.scss */
body .container .status#status3 {
  position: relative;
}
/* line 343, ../sass/style.scss */
body .container .status#status3 .background img {
  display: block;
  width: 100%;
  height: 100vh;
}
/* line 349, ../sass/style.scss */
body .container .status#status3 .time-box {
  position: absolute;
  top: 2%;
  left: 5%;
  width: 27.6%;
  z-index: 10;
}
/* line 355, ../sass/style.scss */
body .container .status#status3 .time-box .time {
  width: 100%;
}
/* line 358, ../sass/style.scss */
body .container .status#status3 .time-box .time-count {
  position: absolute;
  bottom: 0.42667rem;
  left: 0.576rem;
}
/* line 362, ../sass/style.scss */
body .container .status#status3 .time-box .time-count p {
  float: left;
  width: 0.85333rem;
  height: 1.49333rem;
  margin: 0;
  padding: 0;
}
/* line 368, ../sass/style.scss */
body .container .status#status3 .time-box .time-count p:nth-child(1) {
  margin-right: 1.51467rem;
}
/* line 371, ../sass/style.scss */
body .container .status#status3 .time-box .time-count p img {
  width: 100%;
  height: 100%;
}
/* line 378, ../sass/style.scss */
body .container .status#status3 .score {
  position: absolute;
  top: 18%;
  left: 3%;
  z-index: 10;
}
/* line 383, ../sass/style.scss */
body .container .status#status3 .score img:nth-child(1) {
  width: 2.79467rem;
  height: 10.92267rem;
}
/* line 387, ../sass/style.scss */
body .container .status#status3 .score img:nth-child(2) {
  width: 0.53333rem;
  height: 2.60267rem;
  position: absolute;
  top: 46%;
  left: 36%;
  z-index: 20;
}
/* line 395, ../sass/style.scss */
body .container .status#status3 .score .score-num {
  background: transparent;
  width: 0.64rem;
  height: 8.74667rem;
  border-bottom-right-radius: 0.32rem;
  border-bottom-left-radius: 0.32rem;
  position: absolute;
  top: 17.4%;
  left: 39%;
  overflow: hidden;
}
/* line 405, ../sass/style.scss */
body .container .status#status3 .score .score-num img {
  display: block;
  position: relative;
  left: -0.93867rem;
  bottom: -8.74667rem;
  border-bottom-right-radius: 0.32rem;
  border-bottom-left-radius: 0.32rem;
}
/* line 415, ../sass/style.scss */
body .container .status#status3 .cloud {
  position: absolute;
  bottom: 2.13333rem;
  width: 100%;
}
/* line 419, ../sass/style.scss */
body .container .status#status3 .cloud img {
  width: 100%;
  display: block;
  animation: cloudCircle .5s linear 0s infinite alternate-reverse forwards;
}
@keyframes cloudCircle {
  0% {
    opacity: .7;
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: rotate(5deg);
  }
}
/* line 435, ../sass/style.scss */
body .container .status#status3 .person {
  width: 100%;
  height: 100%;
  z-index: 1;
}
/* line 440, ../sass/style.scss */
body .container .status#status3 .person img:nth-child(1) {
  display: block;
  width: 11.73333rem;
  position: absolute;
  top: 12%;
  left: 15%;
}
/* line 447, ../sass/style.scss */
body .container .status#status3 .person img.mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
}
/* line 458, ../sass/style.scss */
body .container .status#status3 .person.girl img[name=person] {
  display: block;
  width: 13.86667rem;
  position: absolute;
  top: 16%;
  left: 10%;
  z-index: 5;
}
/* line 466, ../sass/style.scss */
body .container .status#status3 .person.girl img[name=shadow1] {
  position: absolute;
  top: 15%;
  left: 10%;
  width: 13.86667rem;
  display: block;
  z-index: 2;
  animation: changeScale .5s ease-in 0s infinite forwards;
  display: none;
}
@keyframes changeScale {
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.2);
  }
}
/* line 487, ../sass/style.scss */
body .container .status#status3 .btn-box {
  position: fixed;
  left: 0;
  bottom: -0.64rem;
  width: 100%;
  height: 7.104rem;
  z-index: 99;
}
/* line 494, ../sass/style.scss */
body .container .status#status3 .btn-box .table {
  display: block;
  width: 16rem;
  height: 100%;
  margin: 0 auto;
  z-index: 0;
}
/* line 501, ../sass/style.scss */
body .container .status#status3 .btn-box .btns {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: 100;
}
/* line 508, ../sass/style.scss */
body .container .status#status3 .btn-box .btns:focus {
  border: 0;
  background: transparent;
}
/* line 512, ../sass/style.scss */
body .container .status#status3 .btn-box .btns .arrow-begin {
  position: absolute;
  top: -20%;
  left: 50%;
  margin-left: -1.38667rem;
  width: 2.77333rem;
  display: block;
  animation: btnAnimation .7s linear 0s infinite alternate-reverse forwards;
}
@keyframes btnAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* line 529, ../sass/style.scss */
body .container .status#status3 .btn-box .btns .btn {
  display: block;
  width: 7.38133rem;
  height: 5.41867rem;
  background: url("https://img04.aomygod.com/fontend/20171027/imgs/status3/btn-on.png") no-repeat;
  background-size: 100% 100%;
  margin: 0.42667rem auto 0;
}
/* line 536, ../sass/style.scss */
body .container .status#status3 .btn-box .btns .btn.btn-off {
  background: url("https://img04.aomygod.com/fontend/20171027/imgs/status3/btn-off.png") no-repeat;
  background-size: 100% 100%;
}
/* line 544, ../sass/style.scss */
body .container .status#status4 {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 549, ../sass/style.scss */
body .container .status#status4 .background img {
  width: 100vw;
  height: 100vh;
  display: block;
}
/* line 555, ../sass/style.scss */
body .container .status#status4 .score {
  position: absolute;
  top: 2.13333rem;
  left: 0;
  width: 100%;
}
/* line 560, ../sass/style.scss */
body .container .status#status4 .score p {
  text-align: center;
  margin: 0 auto;
  width: 9.792rem;
  height: 1.62133rem;
  background: url("https://img04.aomygod.com/fontend/20171027/imgs/status4/1.png") no-repeat;
  background-size: 100% 100%;
  color: #fff;
  font-weight: bold;
  line-height: 1.62133rem;
  font-size: 0.85333rem;
}
/* line 571, ../sass/style.scss */
body .container .status#status4 .score p span {
  font-size: 1.06667rem;
  color: #fff47d;
}
/* line 577, ../sass/style.scss */
body .container .status#status4 .word {
  position: absolute;
  top: 17%;
  right: 3%;
  width: 6.50667rem;
  height: 6.05867rem;
  background: url("https://img04.aomygod.com/fontend/20171027/imgs/status4/2.png") no-repeat;
  background-size: 100% 100%;
  padding: 0.53333rem 0.21333rem 0.42667rem 0.85333rem;
  box-sizing: border-box;
  color: #3d3d3d;
  font: bold 0.64rem "微软雅黑";
}
/* line 590, ../sass/style.scss */
body .container .status#status4 .scream {
  width: 11.73333rem;
  height: 2.34667rem;
  position: absolute;
  top: 52.5%;
  left: 50%;
  margin-left: -5.824rem;
  background: transparent;
  display: flex;
}
/* line 599, ../sass/style.scss */
body .container .status#status4 .scream p {
  flex: 1;
  -webkit-flex: 1;
  float: left;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0.42667rem 0;
  box-sizing: border-box;
  overflow: hidden;
}
/* line 609, ../sass/style.scss */
body .container .status#status4 .scream p img {
  margin: 0 auto;
  width: 0.85333rem;
  height: 100%;
  display: block;
}
/* line 617, ../sass/style.scss */
body .container .status#status4 .btns {
  width: 100%;
  height: 2.73067rem;
  position: absolute;
  bottom: 27%;
  left: 50%;
  margin-left: -7.82933rem;
}
/* line 624, ../sass/style.scss */
body .container .status#status4 .btns img {
  display: block;
  width: 13.54667rem;
  margin: 0 auto;
}
/* line 629, ../sass/style.scss */
body .container .status#status4 .btns a {
  float: left;
  width: 40%;
  height: 2.73067rem;
  display: block;
  background: transparent;
  margin: 0 5%;
  position: relative;
  top: -2.73067rem;
}
/* line 640, ../sass/style.scss */
body .container .status#status4 .coupon {
  width: 100%;
  position: absolute;
  bottom: 0.10667rem;
  left: 0;
}
/* line 646, ../sass/style.scss */
body .container .status#status4 .coupon img {
  width: 8.61867rem;
  height: 5.35467rem;
  margin: 0 auto;
  display: block;
  position: relative;
  left: -0.21333rem;
}
/* line 657, ../sass/style.scss */
body .container .share-mask {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
  display: none;
}
/* line 666, ../sass/style.scss */
body .container .share-mask img {
  position: absolute;
  top: 0.42667rem;
  right: 0.42667rem;
  width: 6.82667rem;
  height: 4.864rem;
  display: block;
}
/* line 675, ../sass/style.scss */
body .container .outside-mask {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 10;
}
/* line 684, ../sass/style.scss */
body .container .outside-mask .login {
  width: 10.112rem;
  height: 13.568rem;
  background: url("https://img04.aomygod.com/fontend/20171027/imgs/status4/3.png") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 20%;
  left: 50%;
  margin-left: -5.056rem;
}
/* line 693, ../sass/style.scss */
body .container .outside-mask .login .close {
  display: block;
  width: 1.408rem;
  height: 1.408rem;
  background: url("https://img04.aomygod.com/fontend/20171027/imgs/status4/cancel.png") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 0.96rem;
  right: -0.85333rem;
}
/* line 703, ../sass/style.scss */
body .container .outside-mask .login .box {
  text-align: center;
  width: 8.96rem;
  height: 9.38667rem;
  margin: 3.62667rem auto 0;
  box-sizing: border-box;
}
/* line 709, ../sass/style.scss */
body .container .outside-mask .login .box h3 {
  margin: 0 0 0.64rem 0;
  font-size: 0.81067rem;
  color: #484848;
}
/* line 714, ../sass/style.scss */
body .container .outside-mask .login .box p {
  width: 8.53333rem;
  margin: 0 auto;
  border: 0.02133rem solid #ddd;
  padding: 0.10667rem;
  border-radius: 0.21333rem;
  margin-bottom: 0.64rem;
  overflow: hidden;
  background: #fff;
  box-sizing: border-box;
}
/* line 724, ../sass/style.scss */
body .container .outside-mask .login .box p input {
  border: 0;
  text-indent: 0.10667rem;
  float: left;
  width: 4.48rem;
  height: 1.06667rem;
  font-size: 0.512rem;
  box-sizing: border-box;
}
/* line 733, ../sass/style.scss */
body .container .outside-mask .login .box p input::-webkit-input-placeholder {
  /* WebKit browsers*/
  color: #999;
}
/* line 737, ../sass/style.scss */
body .container .outside-mask .login .box p input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18*/
  color: #999;
}
/* line 741, ../sass/style.scss */
body .container .outside-mask .login .box p input::-moz-placeholder {
  /* Mozilla Firefox 19+*/
  color: #999;
}
/* line 745, ../sass/style.scss */
body .container .outside-mask .login .box p input:-ms-input-placeholder {
  /* Internet Explorer 10+*/
  color: #999;
}
/* line 749, ../sass/style.scss */
body .container .outside-mask .login .box p .get-code {
  display: block;
  float: right;
  color: #fff;
  background: #a40000;
  width: 3.2rem;
  height: 1.06667rem;
  line-height: 1.06667rem;
  text-decoration: none;
  border-radius: 0.21333rem;
  font-size: 0.512rem;
}
/* line 762, ../sass/style.scss */
body .container .outside-mask .login .box .get-coupon {
  display: inline-block;
  color: #fff;
  background: #a40000;
  text-decoration: none;
  padding: 0.21333rem 1.06667rem;
  border-radius: 0.21333rem;
  margin-top: 0.64rem;
  font-size: 0.64rem;
}
