@import url(../js/Swiper/swiper.min.css);
/* line 9, ../sass/style.scss */
body {
  margin: 0;
  padding: 0;
  background: #eee;
  width: 100%;
  height: 100vh;
}
/* line 15, ../sass/style.scss */
body .container {
  margin: 0 auto;
  width: 16rem;
  height: 100vh;
  overflow: hidden;
}
/* line 20, ../sass/style.scss */
body .container .status {
  width: 100%;
  height: 100vh;
}
/* line 23, ../sass/style.scss */
body .container .status#status1 {
  background: url(../img/status1/bg.png) no-repeat;
  background-size: 16rem 100%;
  position: relative;
}
/* line 27, ../sass/style.scss */
body .container .status#status1 .title {
  width: 13.52533rem;
  height: 6.50667rem;
  display: block;
  background: url(../img/status1/title.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  left: 50%;
  margin-left: -6.76267rem;
  animation: titleLoad 1.5s ease forwards;
  z-index: 10;
}
/* line 39, ../sass/style.scss */
body .container .status#status1 .could {
  width: 15.70133rem;
  height: 6.784rem;
  margin: 0 auto;
  display: block;
  background: url(../img/status3/cloud.png) no-repeat;
  background-size: 100% 100%;
  position: relative;
  top: 0.96rem;
  z-index: 6;
  animation: cloudShake 1s ease-in-out infinite alternate-reverse;
}
/* line 51, ../sass/style.scss */
body .container .status#status1 .cartoon {
  display: flex;
  width: 100%;
  position: relative;
  z-index: 20;
}
/* line 56, ../sass/style.scss */
body .container .status#status1 .cartoon .boy {
  flex: 1 50%;
  height: 12.48rem;
  left: -7.89333rem;
  position: relative;
  background: url(../img/status1/boy.png) center right no-repeat;
  background-size: 6.89067rem 12.48rem;
  animation: formLeft 1s ease-in-out forwards;
}
/* line 65, ../sass/style.scss */
body .container .status#status1 .cartoon .girl {
  flex: 1 50%;
  height: 12.48rem;
  background: url(../img/status1/girl.png) center left no-repeat;
  background-size: 8.02133rem 10.79467rem;
  position: relative;
  left: -0.32rem;
  animation: formRight 1s ease-in-out forwards;
}
/* line 75, ../sass/style.scss */
body .container .status#status1 .coupon {
  width: 11.30667rem;
  height: 6.44267rem;
  margin: 0 auto;
  background: url(../img/status1/coupon.png) no-repeat;
  background-size: 11.30667rem 6.44267rem;
  position: relative;
  z-index: 30;
  animation: formTop 1s ease-in forwards;
}
/* line 85, ../sass/style.scss */
body .container .status#status1 .btn-light {
  display: flex;
  width: 100%;
  position: relative;
  top: -5.33333rem;
  z-index: 50;
}
/* line 91, ../sass/style.scss */
body .container .status#status1 .btn-light .btn-boy {
  flex: 1;
  display: block;
  height: 5.86667rem;
  background: url(../img/status1/boy-light.png) no-repeat;
  background-size: 8.02133rem 5.86667rem;
  animation: btnScale 1s ease forwards;
}
/* line 99, ../sass/style.scss */
body .container .status#status1 .btn-light .btn-girl {
  flex: 1;
  display: block;
  height: 5.86667rem;
  background: url(../img/status1/girl-light.png) no-repeat;
  background-size: 8.02133rem 5.86667rem;
  animation: btnScale 1s ease forwards;
}
/* line 108, ../sass/style.scss */
body .container .status#status1 .arrow {
  display: block;
  width: 2.26133rem;
  height: 2.00533rem;
  background: url(../img/status1/arrow.png) no-repeat;
  background-size: 2.26133rem 2.00533rem;
  position: relative;
  top: -6.18667rem;
  left: 2.13333rem;
  animation: arrowTransform 2s ease infinite alternate-reverse;
}
@keyframes arrowTransform {
  0% {
    opacity: 0;
    left: 2.13333rem;
  }
  50% {
    opacity: 1;
    left: 2.13333rem;
  }
  75% {
    opacity: 0;
    left: 11.73333rem;
  }
  100% {
    opacity: 1;
    left: 11.73333rem;
  }
}
@keyframes btnScale {
  0% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes formTop {
  0% {
    top: -6.4rem;
    opacity: 0;
  }
  50% {
    top: -2.77333rem;
    opacity: 1;
  }
  75% {
    top: -3.2rem;
    opacity: 1;
  }
  100% {
    top: -2.77333rem;
    opacity: 1;
  }
}
@keyframes formLeft {
  0% {
    left: -7.89333rem;
  }
  100% {
    left: 0;
  }
}
@keyframes formRight {
  0% {
    left: 7.89333rem;
  }
  100% {
    left: -0.32rem;
  }
}
@keyframes titleLoad {
  0% {
    opacity: 0;
  }
  50% {
    transform: rotate(180deg);
    top: 0.64rem;
    opacity: 1;
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
    top: 0.64rem;
    opacity: 1;
  }
}
@keyframes cloudShake {
  0% {
    left: 0.10667rem;
  }
  100% {
    left: -0.10667rem;
  }
}
/* line 211, ../sass/style.scss */
body .container .status#status1 p {
  margin: 0;
  padding: 0;
}
/* line 218, ../sass/style.scss */
body .btn {
  width: 7.38133rem;
  height: 5.41867rem;
  background: url(../img/status3/btn-on.png) no-repeat;
  background-size: 7.38133rem 5.41867rem;
  margin: 2.13333rem auto;
}
/* line 224, ../sass/style.scss */
body .btn.off {
  height: 5.41867rem;
  background: url(../img/status3/btn-off.png) no-repeat;
  background-size: 7.38133rem 5.41867rem;
}
