@import url(../js/Swiper/swiper.min.css);
/* line 9, ../sass/style.scss */
body {
  margin: 0;
  padding: 0;
  background: #eee;
  width: 100%;
  height: 100vh;
}
/* line 15, ../sass/style.scss */
body .preload-tips {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  font-size: 0.59733rem;
  color: #fff;
}
/* line 28, ../sass/style.scss */
body .container {
  margin: 0 auto;
  width: 16rem;
  height: 100vh;
  overflow: hidden;
}
/* line 33, ../sass/style.scss */
body .container .status {
  width: 100%;
  height: 100vh;
}
/* line 36, ../sass/style.scss */
body .container .status#status1 {
  background: url("https://img04.aomygod.com/fontend/20171022/imgs/status1/bg.png") no-repeat;
  background-size: 100% 100%;
  position: relative;
}
/* line 40, ../sass/style.scss */
body .container .status#status1 .title {
  width: 13.52533rem;
  height: 6.50667rem;
  display: block;
  background: url("https://img04.aomygod.com/fontend/20171022/imgs/status1/title.png") center center no-repeat;
  background-size: 100%;
  position: absolute;
  left: 50%;
  margin-left: -6.76267rem;
  animation: titleLoad 1.5s ease forwards;
  z-index: 10;
}
/* line 52, ../sass/style.scss */
body .container .status#status1 .could {
  width: 15.70133rem;
  height: 6.784rem;
  margin: 0 auto;
  display: block;
  background: url("https://img04.aomygod.com/fontend/20171022/imgs/status1/cloud.png") center center no-repeat;
  background-size: 100%;
  position: relative;
  top: 1.28rem;
  z-index: 6;
  animation: cloudShake 1s ease-in-out infinite alternate-reverse;
}
/* line 64, ../sass/style.scss */
body .container .status#status1 .cartoon {
  display: flex;
  width: 100%;
  position: relative;
  top: -0.768rem;
  z-index: 20;
}
/* line 70, ../sass/style.scss */
body .container .status#status1 .cartoon .boy {
  flex: 1 50%;
  height: 12.48rem;
  left: -7.89333rem;
  position: relative;
  background: url("https://img04.aomygod.com/fontend/20171022/imgs/status1/boy.png") center right no-repeat;
  background-size: 80%;
  animation: formLeft 1s ease-in-out forwards;
}
/* line 79, ../sass/style.scss */
body .container .status#status1 .cartoon .girl {
  flex: 1 50%;
  height: 12.48rem;
  background: url("https://img04.aomygod.com/fontend/20171022/imgs/status1/girl.png") center left no-repeat;
  background-size: 80%;
  position: relative;
  left: -0.32rem;
  animation: formRight 1s ease-in-out forwards;
}
/* line 89, ../sass/style.scss */
body .container .status#status1 .coupon {
  width: 11.30667rem;
  height: 6.44267rem;
  margin: 0 auto;
  background: url("https://img04.aomygod.com/fontend/20171022/imgs/status1/coupon.png") center center no-repeat;
  background-size: 100%;
  position: relative;
  z-index: 30;
  animation: formTop 1s ease-in forwards;
}
/* line 99, ../sass/style.scss */
body .container .status#status1 .btn-light {
  display: flex;
  width: 100%;
  position: relative;
  top: -6.82667rem;
  z-index: 50;
}
/* line 105, ../sass/style.scss */
body .container .status#status1 .btn-light .btn-boy {
  flex: 1;
  display: block;
  height: 5.86667rem;
  background: url("https://img04.aomygod.com/fontend/20171022/imgs/status1/boy-light.png") center right no-repeat;
  background-size: 95%;
  animation: btnScale 1s ease infinite alternate-reverse;
}
/* line 113, ../sass/style.scss */
body .container .status#status1 .btn-light .btn-girl {
  flex: 1;
  display: block;
  height: 5.86667rem;
  background: url("https://img04.aomygod.com/fontend/20171022/imgs/status1/girl-light.png") center left no-repeat;
  background-size: 95%;
  animation: btnScale 1s ease infinite alternate-reverse;
}
/* line 122, ../sass/style.scss */
body .container .status#status1 .arrow {
  display: block;
  width: 2.26133rem;
  height: 2.00533rem;
  background: url("https://img04.aomygod.com/fontend/20171022/imgs/status1/arrow.png") no-repeat;
  background-size: 80%;
  position: relative;
  top: -7.68rem;
  animation: arrowTransform 2s ease infinite alternate-reverse;
}
@keyframes arrowTransform {
  0% {
    opacity: 0;
    left: 3.2rem;
  }
  50% {
    opacity: 1;
    left: 3.2rem;
  }
  75% {
    opacity: 0;
    left: 11.73333rem;
  }
  100% {
    opacity: 1;
    left: 11.73333rem;
  }
}
@keyframes btnScale {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes formTop {
  0% {
    top: -8.53333rem;
    opacity: 0;
  }
  50% {
    top: -3.41333rem;
    opacity: 1;
  }
  75% {
    top: -4.05333rem;
    opacity: 1;
  }
  100% {
    top: -3.41333rem;
    opacity: 1;
  }
}
@keyframes formLeft {
  0% {
    left: -7.89333rem;
  }
  100% {
    left: 0;
  }
}
@keyframes formRight {
  0% {
    left: 7.89333rem;
  }
  100% {
    left: -0.32rem;
  }
}
@keyframes titleLoad {
  0% {
    opacity: 0;
  }
  50% {
    transform: rotate(180deg);
    top: 0.32rem;
    opacity: 1;
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
    top: 0.32rem;
    opacity: 1;
  }
}
@keyframes cloudShake {
  0% {
    left: 0.10667rem;
  }
  100% {
    left: -0.10667rem;
  }
}
/* line 218, ../sass/style.scss */
body .container .status#status1 p {
  margin: 0;
  padding: 0;
}
/* line 225, ../sass/style.scss */
body .btn {
  width: 7.38133rem;
  height: 5.41867rem;
  background: url(../img/status3/btn-on.png) no-repeat;
  background-size: 7.38133rem 5.41867rem;
  margin: 2.13333rem auto;
}
/* line 231, ../sass/style.scss */
body .btn.off {
  height: 5.41867rem;
  background: url(../img/status3/btn-off.png) no-repeat;
  background-size: 7.38133rem 5.41867rem;
}
